<div class="bg-image vh-100" style="
              margin-top: -58.59px;
              background-image: url('https://www.chetu.com/img/blogs/features-of-a-loyalty-management-system/features-of-a-loyalty-management-system-banner.jpg');">

  <div class="container login-xxl bg-dark rounded-4 p-4">
    <h3 style="color: aliceblue;">Register</h3>
    <hr style="color: grey;">
    <form [formGroup]="registerForm" (ngSubmit)="register()">
      <input class="form-control mb-3" type="text" name="email" placeholder="Email" [value]="this.email" disabled/>

      <input class="form-control mb-3" type="password" name="password" placeholder="Password" formControlName="password"/>

      <div *ngIf="registerForm.get('password')?.invalid && (registerForm.get('password')?.dirty)" class="alert alert-danger mt-1">
        <span *ngIf="registerForm.get('password')?.errors?.['required']">Password is required.</span>
        <span *ngIf="registerForm.get('password')?.errors?.['minlength']">Password must be at least 8 characters long.</span>
      </div>
      
      <input class="form-control mb-4" type="password" name="repeatedPassword" placeholder="Repeat your password!" formControlName="repeatedPassword"/>

      <div *ngIf="registerForm.errors?.['passwordMismatch']" class="alert alert-danger mt-1">
        Passwords do not match!
      </div>

      <div *ngIf="authService.isError()" class="alert alert-danger mt-1">
        <span>Incorrect email or password</span>
      </div>
      
      <hr style="color: gray;">
      <button class="btn btn-primary" type="submit">Sign up</button>
    </form>
  </div>
</div>
