<div class="bg-image vh-100" style="
              margin-top: -58.59px;
              background-image: url('https://torange.biz/photofxnew/196/HD/best-background-template-discount-offer-sale-196639.jpg');">
    
    <h1>Login</h1>
    <div class="container login-xxl bg-dark rounded-4 p-4">
        <h3 style="color: aliceblue;">Login</h3>
        <hr style="color: grey;">
        <form [formGroup]="loginForm" (ngSubmit)="login()">
            <input class="form-control mb-3" type="text" name="email" placeholder="Email" formControlName="email"/>
            
            <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="alert alert-danger mt-1">
                <span *ngIf="loginForm.get('email')?.errors?.['required']">Email is required.</span>
                <span *ngIf="loginForm.get('email')?.errors?.['minlength']">Email must be at least 2 characters long.</span>
            </div>

            <input class="form-control mb-4" type="password" name="password" placeholder="Password" formControlName="password"/>

            <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="alert alert-danger mt-1">
                <span *ngIf="loginForm.get('password')?.errors?.['required']">Password is required.</span>
                <span *ngIf="loginForm.get('password')?.errors?.['minlength']">Password must be at least 4 characters long.</span>
            </div>

            <hr style="color: gray;">
            <button class="btn btn-primary" type="submit">Sign in</button>
        </form>
    </div>
</div>   
